<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sd="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">

<head>
    <meta th:charset="#{principal.charset}">
    <title th:text="#{principal.title}"></title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link th:href="@{/img/favicon.png}" rel="icon">
    <link th:href="@{/img/apple-touch-icon.png}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Inter:wght@400;500&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
    <link th:href="@{/vendor/swiper/swiper-bundle.min.css}" rel="stylesheet">
    <link th:href="@{/vendor/glightbox/css/glightbox.min.css}" rel="stylesheet">
    <link th:href="@{/vendor/aos/aos.css}" rel="styleshee}t">

    <!-- Template Main CSS Files -->
    <link th:href="@{/css/variables.css}" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet">
</head>
<body>
<h1 layout:fragment="cabecera">Crear o Editar Medicamentos</h1>
<div layout:fragment="contenido" class="container">
    <div class="col-lg-12">
     <div class="row">
            <form th:action="@{/eventos/save}" th:object="${event}" method="post">
                <input type="hidden" th:field="*{id}">
                <div class="form-group">
                    <label for="name">Nombre:</label>
                    <input class="form-control" type="text" id ="name" th:field="*{nombre}">
                    <br>
                </div>
                <div class="form-group">
                    <label for="description">Descripción:</label>
                    <input class="form-control" type="text" id="description" th:field="*{descripcion}">
                    <br>
                </div>
                <div class="form-group">
                    <label for="fechaHora">Fecha/Hora:</label>
                    <input class="form-control" type="datetime-local" id="fechaHora" th:field="*{fechaHora}">
                    <br>
                </div>
                <div class="form-group">
                    <label for="especializacion">Especializacion:</label>
                    <input class="form-control" type="text" id="especializacion" th:field="*{especializacion}">
                    <br>
                </div>
                <div class="form-group">
                    <label for="ubicacion">Ubicación:</label>
                    <input class="form-control" type="text" id="ubicacion" th:field="*{ubicacion}">
                    <br>
                </div>
                <div class="form-group">
                    <label for="notificar">Notificar:</label>
                    <select id="notificar" class="form-select" name="notificar" th:field="*{notificar}">
                        <option value="true">Sí</option>
                        <option value="false">No</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="notificarTutor">Notificar CareGiver:</label>
                    <select id="notificarTutor" class="form-select" name="notificarTutor" th:field="*{notificarTutor}">
                        <option value="true">Sí</option>
                        <option value="false">No</option>
                    </select>
                </div>
                <!--                <div class="form-group">-->
                <!--                    <label>Impuestos:</label>-->
                <!--                    <select class="form-control" multiple="multiple" th:field="*{taxes}">-->
                <!--                        <option th:each="tax : ${allTaxes}" th:value="${tax}" th:text="${tax.name}" th:selected="${invoice.taxes.contains(tax)}"></option>-->
                <!--                    </select>-->
                <!--                </div>-->
                <div class="form-group">
                    <button type="submit" class="btn btn-outline-success">Guardar</button>
                    <a th:href="@{/eventos/}" class="btn btn-outline-secondary">Cancelar</a>
                </div>
            </form>

        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>