<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sd="http://www.w3.org/1999/xhtml"

      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout2}">

<head>
    <meta th:charset="#{principal.charset}">


    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">


    <title>Catalogo de Medicamentos</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">

    <!-- Template Main CSS Files -->
    <link th:href="@{/css/variables.css}" rel="stylesheet">
    <link th:href="@{/css/main2.css}" rel="stylesheet">
    <link th:href="@{/css/estilos.css}" rel="stylesheet">

</head>
<body>
<div layout:fragment="cabecera"><div class="container" style="padding-top:20px;"><h3> Lista de Medicamentos <a sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-outline-success" th:href="@{/medicamentos/new}">Agregar Nuevo Medicamento</a></h3></div></div>
<div layout:fragment="contenido" class="container" style="padding-top:20px;">

        <div class="container-fluid" style="padding-bottom:20px;">
            <div class="row">
                <div class="col-lg-6">
            <form id="tabla1" th:object="${searchFormData}" th:action="@{/medicamentos/}" th:method="post">
                <div style="margin-bottom:10px">
                <label for="nombre" class="form-label">Introduce el nombre del medicamento:</label>
                <input class="form-control" placeholder="Ibuprofeno..." th:field="*{searchText}"  type="text" name="nombre" id="nombre">
                </div>
                <button class="btn btn-outline-success" type="submit">Buscar</button>
            </form>
                </div>
            </div>
            <table id="Sin filtrado" th:if="${filtroLista}==''" class="table table-striped">
                <thead>

                <tr>
                    <th sec:authorize="hasRole('ROLE_ADMIN')">ID</th>
                    <th>Nombre</th>
                    <th><div>Descripción</div></th>

                    <th><div class="d-lg-block d-none">Componentes</div></th>
                    <th><div class="d-lg-block d-none">Consumo</div></th>
                    <th><div class="d-lg-block d-none">Efectos Secundarios</div></th>
                    <th><div class="d-lg-block d-none">Misc.</div></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="medicine : ${medicinePage.content}">
                    <td sec:authorize="hasRole('ROLE_ADMIN')" th:text="${medicine.id}">1</td>
                    <td th:text="${medicine.name}">Nombre</td>
                    <td>
                        <div th:text="${medicine.description}">Descripción</div></td>
                    <td>
                        <div th:text="${medicine.components}" class="d-lg-block d-none">Descripción</div></td>
                    <td>
                        <div th:text="${medicine.administer}" class="d-lg-block d-none">Descripción</div>
                    </td>
                    <td>
                        <div th:text="${medicine.efects}" class="d-lg-block d-none">Descripción</div></td>
                    <td>
                        <div th:text="${medicine.misc}" class="d-lg-block d-none">Descripción</div></td>

                </tr>
                </tbody>
            </table>
            <table id="Con filtrado" th:if="${filtroLista}!=''" class="table table-striped">
                <thead>

                <tr>
                    <th sec:authorize="hasRole('ROLE_ADMIN')">ID</th>
                    <th>Nombre</th>
                    <th><div>Descripción</div></th>

                    <th><div class="d-lg-block d-none">Componentes</div></th>
                    <th><div class="d-lg-block d-none">Consumo</div></th>
                    <th><div class="d-lg-block d-none">Efectos Secundarios</div></th>
                    <th><div class="d-lg-block d-none">Misc.</div></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="medicine : ${medicinePage.content}">
                    <td sec:authorize="hasRole('ROLE_ADMIN')" th:text="${medicine.id}">1</td>
                    <td th:text="${medicine.name}">Nombre</td>
                    <td>
                        <div th:text="${medicine.description}">Descripción</div></td>
                    <td>
                        <div th:text="${medicine.components}" class="d-lg-block d-none">Descripción</div></td>
                    <td>
                        <div th:text="${medicine.administer}" class="d-lg-block d-none">Descripción</div>
                    </td>
                    <td>
                        <div th:text="${medicine.efects}" class="d-lg-block d-none">Descripción</div></td>
                    <td>
                        <div th:text="${medicine.misc}" class="d-lg-block d-none">Descripción</div></td>
                    <td sec:authorize="hasRole('ROLE_ADMIN')">
                        <a class="btn btn-outline-primary" th:href="@{/medicamentos/edit/{id}(id=${medicine.id})}">Editar</a>
                        <a onclick="return confirm('¿Está seguro que quiere borrar el medicamento?')" class="btn btn-outline-danger" th:href="@{/medicamentos/delete/{id}(id=${medicine.id})}">Borrar</a>
                    </td>
                </tr>
                </tbody>
            </table>


            <div th:if="${medicinePage.totalPages > 0}" class ="pagination">
            <ul class="pagination">
                <li class="page-item" th:each="pageNumber : ${pageNumbers}">
                <a class="page-link" th:href="@{/medicamentos/(size=${medicinePage.size}, page=${pageNumber})}"
                   th:text=${pageNumber}
                   th:classappend="${pageNumber==medicinePage.number + 1} ? active"></a>
                </li>
            </ul>
            </div>

        </div>

    </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>

