<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
  <title>User Info</title>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1>Información del usuario</h1>
      <p>ID: <span th:text="${user.id}"></span></p>
      <p>Nombre: <span th:text="${user.username}"></span></p>
      <p>Email: <span th:text="${user.email}"></span></p>
      <p>Año de nacimiento: <span th:text="${user.birthDate}"></span></p>
      <div class="container">
        <h4 class="my-4">Medicamentos Incompatibles</h4>
        <table class="table">
          <thead>
          <tr>
            <th>Medicamento</th>
            <th>Razón</th>
            <th>Activo</th>
            <th>Acciones</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="userMedicineIncs : ${user.userMedicineIncs}">
            <td th:text="${userMedicineIncs.medicine}">1</td>
            <td th:text="${userMedicineIncs.reason}">Invoice date</td>
            <td th:text="${userMedicineIncs.active}">Invoice Code</td>
            <td>
             <a class="btn btn-outline-primary" th:href="@{/usumedicamentosinc/edit/{id}(id=${userMedicineIncs.id})}">Edit</a>
              <a onclick="return confirm('Are you sure you want to delete this medicine?')" class="btn btn-outline-danger" th:href="@{/usumedicamentosinc/delete/{id}(id=${userMedicineIncs.id})}">Delete</a>
            </td>
          </tr>
          <tr>
            <a class="btn btn-outline-success" th:href="@{/usuario/{id}/medicamentosinc/new?(id=${id})}">Add New Medicine</a>
          </tr>
          </tbody>
        </table>

        <div class="container">
        <h2>Historial Médico</h2>
        <table class="table">
          <thead>
          <tr>
            <th>Enfermedad</th>
            <th>Diagnostico</th>
            <th>Fecha de la incidencia</th>
            <th>ingreso</th>
            <th>Ubicación Hospital</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="historialMedicoToUser : ${user.historialMedicoToUser}">
            <td th:text="${historialMedicoToUser.illnessToMedicalHistory.nombre}">1</td>
            <td th:text="${historialMedicoToUser.diagnostico}">Invoice date</td>
            <td th:text="${historialMedicoToUser.fechaIncidencia}">Invoice Code</td>
            <td th:text="${historialMedicoToUser.ingreso}">Invoice Code</td>
            <td th:text="${historialMedicoToUser.ubiHospital}">Invoice Code</td>
            <td>
              <a class="btn btn-outline-primary" th:href="@{/historialmedico/edit/{id}(id=${historialMedicoToUser.id})}">Edit</a>
              <a onclick="return confirm('Are you sure you want to delete this medicine?')" class="btn btn-outline-danger" th:href="@{/historialmedico/delete/{id}(id=${historialMedicoToUser.id})}">Delete</a>
            </td>
          </tr>
          <tr>
            <a class="btn btn-outline-success" th:href="@{/usuario/{id}/historialmedico/new?(id=${id})}">Añadir nuevo parte</a>
          </tr>
          </tbody>
        </table>
        </div>

      </div>
      </form>
    </div>
    </div>
  </div>
</div>
</body>
</html>