<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sd="http://www.w3.org/1999/xhtml"

      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"

      layout:decorate="~{layoutadmin}">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Lista de medicamentos incompatibles</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">


    <!-- Template Main CSS Files -->
    <link th:href="@{/css/variables.css}" rel="stylesheet">
    <link th:href="@{/css/main2.css}" rel="stylesheet">
    <link th:href="@{/css/estilos.css}" rel="stylesheet">

</head>
<body>
<div layout:fragment="cabecera"><div class="container" style="padding-top:20px;"><h3> Lista de Medicamentos Incompatibles  <a class="btn btn-primary" th:href="@{/medicamentosinc/new}">Añade una nueva incompatibilidad</a></h3></div></div>


<div layout:fragment="contenido">
<div class="container">

    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Motivo</th>
            <th>Medicamento</th>
            <th>Medicamento</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="incMedicine : ${incMedicine}">
            <td th:text="${incMedicine.id}">1</td>
            <td th:text="${incMedicine.reason}">Motivo de la incompatibilidad</td>
            <td th:text="${incMedicine.incToMedicinesA.name}">Motivo de la incompatibilidad</td>
            <td th:text="${incMedicine.incToMedicinesB.name}">Motivo de la incompatibilidad</td>
            <td>
                <a class="btn btn-primary" th:href="@{/medicamentosinc/edit/{id}(id=${incMedicine.id})}">Editar</a>
                <a class="btn btn-danger" th:href="@{/medicamentosinc/delete/{id}(id=${incMedicine.id})}">Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>

</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>