<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sd="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layoutuser}">

<head>
  <meta th:charset="#{principal.charset}">
  <title>Inicio</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">




  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"

        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">

  <!-- Template Main CSS Files -->
  <link th:href="@{/css/variables.css}" rel="stylesheet">
  <link th:href="@{/css/main2.css}" rel="stylesheet">
  <link th:href="@{/css/estilos.css}" rel="stylesheet">


</head>

<body>
<div layout:fragment="cabecera">
  <div class="container" style="margin-top:20px;margin-bottom:10px;"><h3> Bienvenida, <span th:text="${user.name}">Prueba</span></h3>
      <div style="margin-top:10px;margin-bottom:10px;">
      <form th:action="@{/usuario/pdf/}" method="get">

      <button class="btn btn-success" type="submit" value="Generar PDF">Generar PDF</button>
      </form></div></div></div>
<div layout:fragment="contenido"><div class="container">

   <div class="container-fluid" id="calendar">
    <div class="row">
         <div class="col-lg-6">
           <div th:if="${user.tutorMail == null}" class="container">
             <h5>Tu CareGiver</h5>
             <div class="row" style="margin-bottom:10px;">
             <div class="col-2">
               <img src="/img/cuidador.png" alt="cuidador" class="img-fluid">
             </div>
             <div class="col-10">
                  Aún no tienes un tutor asignado. <br>Conoce todas las ventajas aquí<br><br>
             <a class="btn btn-outline-success" th:href="@{/usuario/caregiver}">Ir al Care Giver</a><br></div>
           </div>
           </div>
           <div th:unless="${user.tutorMail == null}">
             <div class="container-fluid" style="margin-bottom:10px;"> Tu tutor es: <span th:text="${tutor.name}"></span></div>
           </div>

           <div th:unless="${user.userMedicines==null || user.userMedicines.isEmpty()}">
           <h5>Tu Pastillero <a class="btn btn-outline-success" th:href="@{/usuario/tusmedicamentos}">Ir al Tus Medicamentos</a></h5>

         <table class="table">
           <thead>
           <tr>
             <th>Medicamento</th>
             <th>Periodo de tiempo</th>

           </tr>
           </thead>
           <tbody>
           <tr  th:each="usmedicine:${user.userMedicines}">
             <td th:text="${usmedicine.medicineToMedicine.name}">aaaa</td>
             <td>Cada <span  th:text="${usmedicine.cadahoras}"></span> horas</td>
           </tr>

           </tbody>
         </table>
         </div>
         <div th:if="${user.userMedicines==null || user.userMedicines.isEmpty()}" class="container d-flex justify-content-center">
           <div class="row">
             <h5>Tu Pastillero</h5>
             <div class="col-2"><img src="/img/pastillero.png" alt="pastillero" class="img-fluid"></div>
             <div class="col-10">Tu pastillero está vacío, añade tu medicación al pastillero virtual.<br><br><a class="btn btn-outline-success" th:href="@{/usuario/tusmedicamentos}">Añade Tus Medicamentos</a></div>
           </div>

         </div>
         <br>
         <br>

         <div class="container"  th:if="${user.agendaToUser == null || user.agendaToUser.eventsToAgenda.isEmpty()}">
           <div class="row">
             <h5>Tu agenda</h5>
           <div class="col-2"><img src="/img/cuaderno.png" alt="pastillero" class="img-fluid"></div>
           <div class="col-10"> Tu agenda está vacía, añade nuevos eventos y rellena tu agenda.<br><br>
             <a class="btn btn-outline-success" th:href="@{/usuario/agenda}">Ir a agenda</a></div>
         </div>

         </div>
         <div class="container" th:unless="${user.agendaToUser == null || user.agendaToUser.eventsToAgenda.isEmpty()}">
           <h5>Tu Agenda  <a class="btn btn-outline-success" th:href="@{/usuario/agenda}">Ir a agenda</a>
             <a class="btn btn-outline-success" th:href="@{/usuario/calendario}">Ir al Calendario</a></h5>
           <table class="table">
             <thead>
             <tr>
               <th>Fecha y Hora</th>
               <th>Especialización</th>
             </tr>
             </thead>
             <tbody>
             <tr  th:each="event:${user.agendaToUser.eventsToAgenda}">
               <td th:text="${event.fechahora}">aaaa</td>
               <td th:text="${event.especializacion}">aaaa</td>
             </tr>
             </tbody>
           </table>
         </div>
         <br>
         <br>
       </div>
       <div class="col-lg-6 d-flex justify-content-center">
         <img src="/img/robotin3.png" alt="robotin" class="img-fluid">
           </div>
         </div>
       </div>
  <div th:unless="${tutorizados.isEmpty()}" class="container-fluid">
    <h5>Los Usuarios tutorizados por ti</h5>
    <table class="table">
      <thead>
      <tr>
        <th>Nombre</th>

      </tr>
      </thead>
      <tbody>
      <tr  th:each="user:${tutorizados}">
        <td th:text="${user.name}">aaaa</td>
        <td><a class="btn btn-outline-primary" th:href="@{/usuario/caregiver/{id}(id=${user.id})}">Ver información</a>
        </td>
      </tr>
      </tbody>
    </table>
     </div>
  <div th:if="${tutorizados.isEmpty()}" class="container-fluid">
    <h5>Usuarios tutorizados</h5>
    Aún no tienes a ningún usuario tutorizado. Si quieres tutorizar a un usuario debes ir a nuestro apartado <a th:href="@{/usuario/caregiver}" style="color:blue">caregiver</a>
    y rellenar el formulario desde el perfil tutorizado
  </div>
   </div>

<div class="container-fluid" id="medicamentos">

</div>
</div>



</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
        crossorigin="anonymous"></script>
</html>