<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <title>Product Form</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1>Crear o Editar Cuestionarios</h1>
            <form th:action="@{/cuestionariopregunta/{questionnaireId}/respuesta/new(questionnaireId=${answers.questionnaire.id})}" th:object="${answers}" method="post">
                <input type="hidden" th:field="*{id}">
                <div class="form-group">
                    <label for="respuesta">Respuesta: </label>
                    <input type="text" class="form-control" id="respuesta" th:field="*{respuesta}" />
                </div>
                    <button type="submit" class="btn btn-outline-success">Guardar</button>
                    <a th:href="@{/cuestionariopregunta/}" class="btn btn-outline-secondary">Cancelar</a>

            </form>

        </div>
    </div>
</div>
</body>
</html>