<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
  <title>User Info</title>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <form th:action="@{/cuestionario/{id}/respuestas(id=${questionnaire.id})}" method="post">
        <input type="hidden" th:field="*{id}">
      <h2> <span th:text="${questionnaire.nombre}">aaaaaaa</span></h2>
      <h4> <span th:text="${questionnaire.descripcion}">hh</span></h4>
        <div class="form-group" th:each="question : ${questionnaire.questions}">
          <label th:text="${question.pregunta}">aaa</label>
            <input type="text" class="form-control" name="${question.id}" th:field="*{answers.respuesta}"  />
          <br/>
        </div>
        <input type="submit" value="Añadir respuestas" />
      </form>
    </div>
  </div>
</div>
</body>
</html>