<!DOCTYPE html>
<html th:lang="#{principal.lang}" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>FeelingCare</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link th:href="@{/img/favicon.png}" rel="icon">
  <link th:href="@{/img/apple-touch-icon.png}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Inter:wght@400;500&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
  <link th:href="@{/vendor/swiper/swiper-bundle.min.css}" rel="stylesheet">
  <link th:href="@{/vendor/glightbox/css/glightbox.min.css}" rel="stylesheet">
  <link th:href="@{/vendor/aos/aos.css}" rel="styleshee}t">

  <!-- Template Main CSS Files -->
  <link th:href="@{/css/variables.css}" rel="stylesheet">
  <link th:href="@{/css/main2.css}" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a th:href="@{/usuario/}" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <img src="/img/logo.png" alt="FeelingCare Logo">
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li class="dropdown"><a href="#"><span>Mi Perfil</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a th:href="@{/usuario/historialmedico}">Historial Médico</a></li>
              <li><a th:href="@{/usuario/datosusuario}">Datos del Usuario</a></li>
              <li><a th:href="@{/usuario/configuracion}">FeelingCare Giver</a></li>
              <li><a th:href="@{/}">Log Out<!--Se cerraría sesión--></a></li>
            </ul>
          </li>
          <li><a th:href="@{/usuario/agenda}">Agenda</a></li>
          <li class="dropdown"><a href="#"><span>Medicamentos</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a th:href="@{/usuario/tusmedicamentos}">Tus medicamentos</a></li>
              <li><a th:href="@{/usuario/catalogomedicamentos}">Catálogo</a></li>
              <li><a th:href="@{/usuario/incompatibilidadesmedicamentos}">Incompatibilidades</a></li>
              <li><a th:href="@{/usuario/medicamentosfavoritos}">Favoritos</a></li>
            </ul> </li>

          <li class="dropdown"><a href="#"><span>Cuestionario</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="#">Cuestionarios</a></li>
              <li><a href="#">Tus Respuestas</a></li>
              <li><a href="#">Estadísticas</a></li>
            </ul>
          </li>

        </ul>
      </nav><!-- .navbar -->

      <div class="position-relative">
        <a href="#" class="mx-2"><span class="bi-facebook"></span></a>
        <a href="#" class="mx-2"><span class="bi-twitter"></span></a>
        <a href="#" class="mx-2"><span class="bi-instagram"></span></a>

        <a href="#" class="mx-2 js-search-open"><span class="bi-search"></span></a>
        <i class="bi bi-list mobile-nav-toggle"></i>

        <!-- ======= Search Form ======= -->
        <div class="search-form-wrap js-search-form-wrap">
          <form action="search-result.html" class="search-form">
            <span class="icon bi-search"></span>
            <input type="text" placeholder="Search" class="form-control">
            <button class="btn js-search-close"><span class="bi-x"></span></button>
          </form>
        </div><!-- End Search Form -->

      </div>

    </div>

  </header><!-- End Header -->

  <main id="main">
    <!-- Aqui vamos a escribir las cabeceras de los bloques  -->
    <section class="container" layout:fragment="cabecera"> </section>
    <!-- Aqui vamos a escribir el contenido de los bloques  -->
    <section class="container" layout:fragment="contenido"> </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-content">
      <div class="container">

        <div class="row g-5">
          <div class="col-lg-4">
            <h3 class="footer-heading">Sobre FeelingCare</h3>
            <img src="/img/logo2.0.png">
            <p>FeelingCare es tu asistente personal para el control de tus medicamentos.</p>
            <p><a href="about.html" class="footer-link-more">Conoce al Equipo</a></p>
          </div>
          <div class="col-6 col-lg-2">
            <h3 class="footer-heading">Mi Gestión</h3>
            <ul class="footer-links list-unstyled">
              <li><a href="category.html"><i class="bi bi-chevron-right"></i> Mi Seguimiento</a></li>
              <li><a href="category.html"><i class="bi bi-chevron-right"></i> Agenda</a></li>
              <li><a href="category.html"><i class="bi bi-chevron-right"></i> Prospectos</a></li>
              <li><a href="category.html"><i class="bi bi-chevron-right"></i> Incompatibilidades</a></li>
            </ul>
          </div>

          <div class="col-6 col-lg-2">
            <h3 class="footer-heading">Información de Interés</h3>
            <ul class="footer-links list-unstyled">
              <li><a href="index.html"><i class="bi bi-chevron-right"></i> Números de Emergencia</a></li>
              <li><a href="index.html"><i class="bi bi-chevron-right"></i> Primeros Auxilios</a></li>
              <li><a href="category.html"><i class="bi bi-chevron-right"></i> Hospitales Cercanos</a></li>
              <li><a href="single-post.html"><i class="bi bi-chevron-right"></i> Farmacias Cercanas</a></li>
              <li><a href="category.html"><i class="bi bi-chevron-right"></i> Ayuda para Fumadores</a></li>
            </ul>
          </div>

          <div class="col-lg-4">
            <h3 class="footer-heading">Contacta con Nosotros</h3>
            <p>Email: feeling@care.com</p>

          </div>
        </div>
      </div>
    </div>
  </footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
        crossorigin="anonymous"></script>
<script src="assets/js/main.js"></script>
</html>