<!DOCTYPE html>
<html th:lang="#{principal.lang}" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <link th:href="@{/img/logoiso.png}" rel="icon">
  <title>FeelingCare</title>
  <meta content="" name="description">
  <meta content="" name="keywords">



  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Inter:wght@400;500&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
  <link th:href="@{/vendor/swiper/swiper-bundle.min.css}" rel="stylesheet">
  <link th:href="@{/vendor/glightbox/css/glightbox.min.css}" rel="stylesheet">
  <link th:href="@{/vendor/aos/aos.css}" rel="stylesheet}">

  <!-- Template Main CSS Files -->
  <link th:href="@{/css/variables.css}" rel="stylesheet">
  <link th:href="@{/css/main2.css}" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header  class="header">
    <nav class="navbar navbar-expand-lg bg-body-tertiary  p-0" aria-label="Thirteenth navbar example">



      <div class="container-fluid">
        <a th:href="@{/usuario}" class="navbar-brand">
        <div class="row"></div>
        <img class="img-fluid" style="max-width:150px" src="/img/logo.png" alt="FeelingCare Logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample11" aria-controls="navbarsExample11" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse d-lg-flex" id="navbarsExample11">

            <ul class="navbar-nav">
              <li class="nav-item dropdown"><a class="nav-link" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                Mi Perfil<img src="/img/down-arrow_blue.png" class="img-fluid" style="max-width:15px;margin:5px" alt="dropdown arrow"></a>
                <ul class="dropdown-menu">
                  <li class="dropdown-item"><a th:href="@{/usuario/historialmedico}">Historial Médico</a></li>
                  <li class="dropdown-item"><a th:href="@{/usuario/info/}">Datos del Usuario</a></li>
                  <li class="dropdown-item"><a th:href="@{/usuario/caregiver}">FeelingCare Giver</a></li>
                  <li class="dropdown-item"><a th:href="@{/logout}">Log Out<!--Se cerraría sesión--></a></li>
                </ul>
              </li>
              <li class="nav-item"><a class="nav-link" th:href="@{/usuario/calendario}">Calendario</a></li>
              <li class="nav-item"><a class="nav-link" th:href="@{/usuario/agenda}">Agenda</a></li>
              <li class="nav-item dropdown"><a class="nav-link" href="#" data-bs-toggle="dropdown" aria-expanded="false">Medicamentos
                <img src="/img/down-arrow_blue.png" class="img-fluid" style="max-width:15px;margin:5px" alt="dropdown arrow"></a>
                <ul class="dropdown-menu">
                  <li class="dropdown-item"><a th:href="@{/usuario/tusmedicamentos}">Tus medicamentos</a></li>
                  <li class="dropdown-item"><a th:href="@{/usuario/medicamentos}">Catálogo</a></li>
                  <li class="dropdown-item"><a th:href="@{/usuario/incompatibilidades}">Incompatibilidades</a></li>
                </ul> </li>

              <li class="nav-item dropdown"><a class="nav-link" href="#" data-bs-toggle="dropdown" aria-expanded="false">Cuestionarios
                <img src="/img/down-arrow_blue.png" class="img-fluid" style="max-width:15px;margin:5px" alt="dropdown arrow"></a>
                <ul class="dropdown-menu">
                  <li class="dropdown-item" ><a  th:href="@{/usuario/cuestionarios}">Cuestionarios</a></li>
                  <li class="dropdown-item"><a th:href="@{/usuario/respuestas}">Tus Respuestas</a></li>

                </ul>
              </li>
              <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item"><a  class="nav-link" th:href="@{/admin/}">Admin</a></li>

            </ul>
        </div>
      </div>
    </nav>




  </header><!-- End Header -->

    <div class="container-fluid p-0" style="background-image: url(/img/fondoUsu.png);min-height: 1000px;">
    <!-- Aqui vamos a escribir las cabeceras de los bloques  -->
    <section class="container-fluid p-0"  layout:fragment="cabecera"> </section>
    <!-- Aqui vamos a escribir el contenido de los bloques  -->
    <section class="container-fluid p-0"  layout:fragment="contenido"> </section>
  </div>


  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-content">
      <div class="container">

        <div class="row g-5">
          <div class="col-lg-4">
            <h3 class="footer-heading">Sobre FeelingCare</h3>
            <img src="/img/logo2.0.png">
            <p>FeelingCare es tu asistente personal para el control de tus medicamentos.</p>
            <p><a href="about.html" class="footer-link-more">Conoce al Equipo</a></p>
          </div>
          <div class="col-6 col-lg-2">
            <h3 class="footer-heading">Mi Gestión</h3>
            <ul class="footer-links list-unstyled">
              <li><a href="category.html"><i class="bi bi-chevron-right"></i> Mi Seguimiento</a></li>
              <li><a href="category.html"><i class="bi bi-chevron-right"></i> Agenda</a></li>
              <li><a href="category.html"><i class="bi bi-chevron-right"></i> Prospectos</a></li>
              <li><a href="category.html"><i class="bi bi-chevron-right"></i> Incompatibilidades</a></li>
            </ul>
          </div>

          <div class="col-6 col-lg-2">
            <h3 class="footer-heading">Información de Interés</h3>
            <ul class="footer-links list-unstyled">
              <li><a href="index.html"><i class="bi bi-chevron-right"></i> Números de Emergencia</a></li>
              <li><a href="index.html"><i class="bi bi-chevron-right"></i> Primeros Auxilios</a></li>
              <li><a href="category.html"><i class="bi bi-chevron-right"></i> Hospitales Cercanos</a></li>
              <li><a href="single-post.html"><i class="bi bi-chevron-right"></i> Farmacias Cercanas</a></li>
              <li><a href="category.html"><i class="bi bi-chevron-right"></i> Ayuda para Fumadores</a></li>
            </ul>
          </div>

          <div class="col-lg-4">
            <h3 class="footer-heading">Contacta con Nosotros</h3>
            <p>Email: appfeelingcare@gmail.com</p>

          </div>
        </div>
      </div>
    </div>
  </footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
        crossorigin="anonymous"></script>
<script src="assets/js/main.js"></script>
</html>