<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sd="http://www.w3.org/1999/xhtml" xmlns:object-fit="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout2}">

<head>
    <meta th:charset="#{principal.charset}">

    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <title>Inicio</title>


   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"

          integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">

    <!-- Template Main CSS Files -->
    <link th:href="@{/css/variables.css}" rel="stylesheet">
    <link th:href="@{/css/main2.css}" rel="stylesheet">
    <link th:href="@{/css/estilos.css}" rel="stylesheet">

</head>

<body>
<div layout:fragment="cabecera"></div>
<div layout:fragment="contenido">

    <div class="container-fluid p-0" id="body" >
    <div class="container-fluid " >
    <div class="row">
        <div class="col-12 col-md-6"><div class="row" style="margin-top: 70px;">
            <div class="col-0 col-md-3 "><br></div>
            <div class="col-12 col-md-9 "><h1 style="font-family: century gothic black; font-size: 60px;">
                Siéntete cuidado junto a nosotros</h1>
                <br><h3>¡No lo dudes!<br> Regístrate ya y déjate cuidar</h3><br>
                <div class="container-fluid p-0">
                    <a class="btn " style="background-color:#005CA9;color:white" th:href="@{/registro}" role="button">Registrate Ya</a>
                </div>
            </div>

        </div> </div>
        <div class="col-12 col-md-6 "><div class="row">
            <div class="col-12 "></div>
            <div class="col-12"></div>

            <div class="col-10 p-0"><img class="img-fluid" src="/img/robotin2.png" alt="robotin"></div>
            <div class="col-2 "></div>
            <div class="col-12 "></div>
        </div> </div>
    </div></div>
<!--Funciones-->
    <div id="funciones" class="container-fluid azul" >
<div class="row">
    <div class="d-flex col-12 col-md-6 col-lg-4 justify-content-center">
        <div class="card cartas" style="width: 40rem;">

            <div class="card-body "><img src="/img/medicamentos.png" class="card-img-top img-carta" alt="medicina" style="margin-bottom:40px;margin-top:20px">
                <h5 class="card-title ">Medicamentos</h5>
                <p class="card-text">Tenemos a tu disposición un listado de medicamentos para poder getionarlos de manera fácil y sencilla.</p>
            </div>
        </div></div>
    <div class="d-flex col-12 col-md-6 col-lg-4 justify-content-center" >
        <div class="card cartas" style="width: 40rem;">

            <div class="card-body "><img src="/img/calendario.png" class="card-img-top img-carta" alt="calendario">
                <h5 class="card-title ">Agenda</h5>
                <p class="card-text">Podrá registrar citas y eventos de salud en la agenda y recibir notificaciones para evitar olvidos
                    y asegurarse de cumplir con tus compromisos.</p>
            </div>
        </div></div>
    <div class="d-flex ccol-12 col-md-6 col-lg-4 justify-content-center">
        <div class="card cartas" style="width: 40rem;">

            <div class="card-body "><img src="/img/cuestionario.png" class="card-img-top img-carta" alt="medicina">
                <h5 class="card-title ">Cuestionario</h5>
                <p class="card-text">A través de los diversos cuestionarios que ofrecemos podemos
                hacerte un seguimiento y aportar datos que te ayuden a mejorar tu salud.</p>
            </div>
        </div></div>

    <div class="d-flex col-12 col-md-6 col-lg-4 justify-content-center ">
        <div class="card cartas" style="width: 40rem;">

            <div class="card-body "><img src="/img/cuidador.png" class="card-img-top img-carta" alt="medicina">
                <h5 class="card-title ">FeelingCare Giver</h5>
                <p class="card-text">El FeelingCare Giver da la oportunidad a cualquier usuario de tener un tutor al que se le
                    notifique las citas médicas o los medicamentos tomados del propio usuario y poder llevar un correcto desarrollo de los tratamientos.
                </p>
            </div>
        </div></div>
    <div class="d-flex col-12 col-md-6 col-lg-4 justify-content-center ">
    <div class="card cartas" style="width: 40rem;">

        <div class="card-body y"><img src="/img/historial-medico.png" class="card-img-top img-carta" alt="medicina">
            <h5 class="card-title ">Historial médico</h5>
            <p class="card-text">Ofrecemos la opción de registrar tu historial médico y acceder a él con facilidad desde nuestra plataforma,
                brindándole la comodidad de tener toda su información médica en un solo lugar y disponible con un solo clic.</p>
        </div>
    </div></div>
    <div class="d-flex col-12 col-md-6 col-lg-4 justify-content-center ">
    <div class="card cartas" style="width: 40rem;">

        <div class="card-body y"><img src="/img/descargar.png" class="card-img-top img-carta" alt="medicina">
            <h5 class="card-title ">PDF</h5>
            <p class="card-text">Tienes la posibilidad de exportar tu historial médico y agenda en PDF.</p>
        </div>
    </div></div>
</div>
</div>

    <div class="container-fluid justify-content-center" id="medicamentos" style="background-image: url(/img/fondo2.png);
                                                                                    height:425px;
                                                                                    padding:100px;">
        <div class="container text-center blanco" ><div><h2 class="tittle">Nuestros medicamentos</h2></div>
        <div><h5>Echa un vistazo a todo nuestro listado de medicamentos y encuentra toda la información sobre ellos.</h5></div>
            <a   th:href="@{/medicamentos/}" class="btn btn-outline-primary" style="border-color:#005CA9;color:#005CA9;">Ir a los medicamentos</a>
        </div>
    </div>
    <div class="container-fluid justify-content-center" style="margin:60px;" id="About">
        <div class="container text-center " style="padding:30px;" >
        <h3 class="tittle">Conoce al equipo</h3>
        <div id="carouselExampleCaptions" class="carousel " data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" id="María">
                    <div class="d-block w-100" >
                        <div class="row">
                            <div class="col-2"></div>
                            <div class="col-8 col-lg-4" style="text-align:start;margin-top:20px;">
                                <img src="/img/about/Maria.jpeg" class="img-fluid d-none d-lg-block" alt="María">
                                <h2 class="tittle d-block d-lg-none">María</h2>
                            </div>
                            <div class="col-2 d-block d-lg-none "></div>
                            <div class="col-2 d-block d-lg-none "></div>
                            <div class="col-8 col-lg-4" style="text-align:start;margin-top:20px;">Desde pequeña siempre se me ha visto junto a un balón, un lápiz, unas tijeras y un ordenador,
                                diseñando lo que tenía en la cabeza. Busco mejorar continuamente para poder aportar valor y estar entre los mejores.
                                Intento generar soluciones eficientes, pero también intuitivas y atractivas. Disciplinada y Comprometida, Empática,
                                cuando trabajo en equipo creo consenso, tratando que todos los miembros tengan sentimiento de pertenencia
                                y contribuyan a la consecución del objetivo común.<br>
                                MARÍA ÁLVAREZ MENÉNDEZ
                            </div>
                            <div class="col-2"></div>
                        </div> </div>
                </div>
                <div class="carousel-item" id="Felix">
                    <div class="d-block w-100" >
                        <div class="row">
                            <div class="col-2"></div>
                            <div class="col-8 col-lg-4" style="text-align:start;margin-top:20px;">
                                <img src="/img/about/Felix.jpg" class="img-fluid d-none d-lg-block" alt="Felix">
                                <h2 class="tittle d-block d-lg-none">Félix</h2>
                            </div>
                            <div class="col-2 d-block d-lg-none "></div>
                            <div class="col-2 d-block d-lg-none "></div>
                            <div class="col-8 col-lg-4" style="text-align:start;margin-top:20px;">Llego al entorno de la programación incorporando aptitudes como la orientación al detalle y a resultados, la capacidad para trabajar de forma eficiente en equipo y la voluntad de resolver cuantos retos y dificultades se me plantean.<br>
                                Soy analítico y detallista. Disciplinado y riguroso, intento fraccionar los proyectos por secuencias para finalizar las etapas. Resolutivo, trato de reparar lo que no funciona y aportar soluciones.<br>
                                Con mentalidad de crecimiento, disfruto aprendiendo y profundizando en los temas, tratando de mejorar continuamente.<br>
                                En el trabajo en equipo soy empático y conciliador, y pretendo que todo el mundo se sienta parte del grupo y participe. Entusiasta, disfruto trabajando duro con los compañeros en pro de un objetivo común.<br>
                                FÉLIX CARRASCO ANDRÉS
                            </div>
                            <div class="col-2"></div>
                        </div> </div>
                </div>

                <div class="carousel-item" id="Cristina">
                    <div class="d-block w-100" >
                        <div class="row">
                            <div class="col-2"></div>
                            <div class="col-8 col-lg-4" style="text-align:start;margin-top:20px;">
                                <img src="/img/about/Cristina.jpg" class="img-fluid d-none d-lg-block" alt="Cristina">
                                <h2 class="tittle d-block d-lg-none">Cristina</h2>
                            </div>
                            <div class="col-2 d-block d-lg-none "></div>
                            <div class="col-2 d-block d-lg-none "></div>
                            <div class="col-8 col-lg-4" style="text-align:start;margin-top:20px;">Alumna de la EOI cursando el Máster de Programación Java.
                                Graduada en Educación Primaria con mención en Lenguas Extranjeras por la Universidad de Extremadura en 2015.
                                <br>
                                Soy una persona muy trabajadora, comprometida, organizada y detallista.
                                Tengo una amplia experiencia en educación, telecomunicaciones y ventas. Gracias a mi experiencia, he desarrollado valores como la empatía a través de la cooperación y el trabajo en equipo. Además tengo experiencia en la realización de tareas con tiempos y objetivos marcados a conseguir. Me caracterizo por trabajar con educación y respeto hacia mi trabajo y el de los demás.
                                Mi nueva meta es ampliar mis conocimientos de programación abriendo con ello nuevas fronteras.<br>
                                CRISTINA MARTÍN CARRILLO
                            </div>
                            <div class="col-2"></div>
                        </div> </div>
                </div>

                <div class="carousel-item" id="Harald">
                    <div class="d-block w-100" >
                        <div class="row">
                            <div class="col-2"></div>
                            <div class="col-8 col-lg-4" style="text-align:start;margin-top:20px;">
                                <img src="/img/about/Harald.jpg" class="img-fluid d-none d-lg-block" alt="Harald">
                                <h2 class="tittle d-block d-lg-none">Harald</h2>
                            </div>
                            <div class="col-2 d-block d-lg-none "></div>
                            <div class="col-2 d-block d-lg-none "></div>
                            <div class="col-8 col-lg-4" style="text-align:start;margin-top:20px;">Programador con experiencia y formación previa en Diseño 2D y Animación de Personajes, lo que me permite incorporar a los trabajos que desarrollo mayor polivalencia, creatividad y estética, optimizando tanto el back-end como el front-end.<br>
                                Intento aprender y profundizar en los temas, buscando la evolución y la mejora continua.<br>
                                Resolutivo, prudente y analítico, tengo un elevado sentido de la responsabilidad y del deber con lo que me comprometo a hacer.<br>
                                Disfruto trabajando duro con mis compañeros para alcanzar un objetivo común.<br>
                                HARALD JENSEN MORALES
                            </div>
                            <div class="col-2"></div>
                        </div> </div>
                </div>

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="false"><img src="/img/flecha-izquierda.png" class="img-fluid" alt="flecha"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="false"><img src="/img/flecha-derecha.png" class="img-fluid" alt="flecha"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        </div>
    </div>
</div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
        crossorigin="anonymous"></script>

</html>
