<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registro de usuario</title>
    <link rel="stylesheet" href="estilosRegistro.css">

</head>
<body>
<h1 class="color">
    Registro de usuario
</h1>
<div class="jumbotron" style="background-image: url('imagenLogo.jpg'); backdrop-filter: blur(5px);">
<form>
    <label for="nombre">Nombre completo:</label>
    <input type="text" id="nombre" name="nombre" required><br>
    <br>
    <label for="apellido1">Primer apellido:</label>
    <input type="text" id="apellido1" name="apellido1" required><br>
    <br>
    <label for="apellido2">Segundo apellido:</label>
    <input type="text" id="apellido2" name="apellido2" required><br>
    <br>
    <label for="correo">Correo electrónico:</label>
    <input type="email" id="correo" name="correo" required><br>
    <br>
    <label for="contrasena">Contraseña:</label>
    <input type="password" id="contrasena" name="contrasena" required><br>
    <br>
    <label for="confirmarcontrasena">Confirmar contraseña:</label>
    <input type="password" id="confirmarcontrasena" name="confirmarcontrasena" required><br>
    <br>
    <a href="InformacionPaciente.html" class="btn btn-info" role="button">Siguiente</a>

</form>
</div>
</body>
</html>