<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layoutadmin}">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Lista de enfermedades</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <!-- Template Main CSS Files -->
    <link th:href="@{/css/variables.css}" rel="stylesheet">
    <link th:href="@{/css/main2.css}" rel="stylesheet">
    <link th:href="@{/css/estilos.css}" rel="stylesheet">
</head>
<body>
<div layout:fragment="cabecera"><div class="container" style="padding-top:20px;"><h3>Lista de enfermedades   <a class="btn btn-primary" th:href="@{/enfermedades/new}">Añade una nueva enfermedad</a></h3></div></div>
<div layout:fragment="contenido" >
<div class="container">
    <h1 class="my-4"></h1>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Descripción</th>
            <th>Síntomas</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="illness : ${illnessPage.content}">
            <td th:text="${illness.id}">1</td>
            <td th:text="${illness.nombre}">Nombre de la enfermedad</td>
            <td th:text="${illness.tipo}">Tipo de enfermedad</td>
            <td th:text="${illness.descripcion}">Descripción de la enfermedad</td>
            <td th:text="${illness.sintomas}">Síntomas de la enfermedad</td>
            <td>
                <a style="margin-bottom:5px;" class="btn btn-primary" th:href="@{/enfermedades/edit/{id}(id=${illness.id})}">Editar</a>
                <a class="btn btn-danger" th:href="@{/enfermedades/delete/{id}(id=${illness.id})}">Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>



    <!--PAGINACIÓN-->

    <div th:if="${illnessPage.totalPages > 0}" class ="pagination">
        <ul class="pagination">
            <li class="page-item" th:each="pageNumber : ${pageNumbers}">
                <a class="page-link" th:href="@{/enfermedades/(size=${illnessPage.size}, page=${pageNumber})}"
                   th:text=${pageNumber}
                   th:classappend="${pageNumber==illnessPage.number + 1} ? active"></a>
            </li>
        </ul>
    </div>

</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>